<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <p>This site is made by Suad Muhic. It uses mapbox.com and weatherstack.com!</p>
    <img src="/img/1.jpg" alt="">
    {{>footer}}
</body>
</html>