<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/png" href="/img/icon.png" sizes="96x96">
  <title>Weather</title>
</head>

<body>
  {{>header}}
  <div style="font-size: 18px;">Use this site to get your weather.</div>


  <form action="" style="margin-top: 10px;">
    <input type="text" placeholder="Location">
    <button id="btn">Search</button>
  </form>

  <div id="forecast">
    <div class="msg"></div>
    <div class="msg"></div>
  </div>

  {{>footer}}

  <script src="/js/app.js"></script>
</body>

</html>