<link rel="stylesheet" href="/css/headerStyle.css">
<div id="appStuff">
    <h1>{{title}}</h1>
<div id ="navbar">
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>
</div>



